[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.1"
flask-pymongo = "*"
cors = "*"
python-dotenv = "*"
flask-talisman = "*"
flask-favicon = "*"
flask-bcrypt = "*"
bcrypt = "*"
flask-cors = "*"
flask-login = "==0.5.0"
werkzeug = "==2.0.1"
pyjwt = "*"

[dev-packages]
