body {
  background-color: #cdc2ae;
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.change-password-page {
  background-color: #ece5c7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.input-field {
  margin-bottom: 15px;
  color: #116a7b;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #116a7b;
  color: #116a7b;
  margin-bottom: 10px;
}

.button {
  background-color: #116a7b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #0d5259;
}
